h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}

.header-cell{
	vertical-align: center;
}

a {
	color: black;
}
a:hover {
	opacity: 0.5;
	cursor: pointer;
}
a#logo:hover {
	opacity:1.0;
}
div.total {
	color: black;
}
div.total:hover {
	color:green;
	cursor: pointer;
}

#search-button:hover {opacity:0.5}

